<div class="menu-gauche">
    <ul>
        <li><a href="{{ path('loan_index') }}">Emprunt</a></li>
        <li><a href="{{ path('group_index') }}">Groupe</a></li>
        <li><a href="{{ path('category_index') }}">Categorie</a></li>
        <li><a href="{{ path('user_index') }}">Utilisateur</a></li>
        <li><a href="{{ path('ressource_index') }}">Ressource</a></li>
    </ul>
</div>