.container{
    display: flex;
    flex-direction: row;
    margin: 0;
    padding: 0;
}

nav{
    color: white;
    min-height: 10vh;
    position: fixed;
}

.menu-gauche{
    display: flex;
    flex-direction: row;
    background-color: aqua;
    min-height: 90%;
    width: 15vw;
    margin-top: 10vh;
    padding: 0;
    position: fixed;
}

.menu-gauche ul li a{
    text-decoration: none;
    color: white;
    font-size: 2vw;
}

.menu-gauche ul li a:hover{
    color: black;
}

.menu-gauche ul li {
    list-style-type: none;
}

.menu-gauche ul {
    margin: 0;
    padding-left: 20px;
}

.container_2{
    display: flex;
    flex-direction: column;
    margin-top: 12vh;
    margin-left: 20vw;
    width: 85vw;
}