{% extends 'base.html.twig' %}

{% block title %}Loan index{% endblock %}

{% block body %}
    <div class="row d-flex align-items-center justify-content-between">
        <div>
            <h1>Loan index</h1>
        </div>
        <div>
            <a class="btn btn-primary" href="{{ path('loan_new') }}">Create new</a>
        </div>
    </div>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created_at</th>
                <th>Finishied_at</th>
                <th>Returned_at</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for loan in loans %}
            <tr>
                <td>{{ loan.id }}</td>
                <td>{{ loan.createdAt ? loan.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.finishiedAt ? loan.finishiedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ loan.returnedAt ? loan.returnedAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('loan_show', {'id': loan.id}) }}">show</a>
                    <a href="{{ path('loan_edit', {'id': loan.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
