{% extends 'base.html.twig' %}

{% block title %}Hello ApiNoticeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Api documenttaion</h1>
    <p>Tout les route excepter login_check nessesite un bearer token </p> 
    <h3>Recupérer le token</h3> 
    <p>url: /api/login_check</p>
    <p>methode post</p>    
    <pre>
    {
	    "username":"1sinfournit@gmail.com",
	    "password":"12345678"
    }
    </pre>
    <h3>listés les ressources</h3> 
    <p>url: /api/ressource</p>
    <p>methode get</p>    
    <h3>listés une ressources</h3> 
    <p>url: /api/ressource/{id}</p>
    <p>methode get</p>
    <h3>Ajouté une ressources</h3> 
    <p>url: /api/post/ressource</p>
    <p>methode post</p>
    <p>exemle de json</p>
    <pre>
    {
	    "label": "twingo",
	    "description": "essence inclue",
	    "quantity_total": 10
    }
    </pre>
    <h3>Modifier une ressources</h3> 
    <p>url: /api/patch/ressource/{id}</p>
    <p>methode patch</p>
    <p>exemle de json</p>
    <pre>
    {
	    "label": "twingo",
	    "description": "essence inclue",
	    "quantity_total": 10
    }
    </pre> 
    <h3>Ajouté un group a une ressources</h3> 
    <p>url: /api/post/ressource/{id_ressource}/add/group/{id_groupe}</p>
    <p>methode post</p> 
    <h3>Enlever un group a une ressources</h3> 
    <p>url: /api/delete/ressource/{id_ressource}/remove/group/{id_groupe}</p>
    <p>methode delete</p> 
    <h3>Ajouté une catégorie a une ressources</h3> 
    <p>url: /api/post/ressource/{id_ressource}/add/category/{id_category}</p>
    <p>methode post</p> 
    <h3>Enlever une category a une ressources</h3> 
    <p>url: /api/delete/ressource/{id_ressource}/remove/category/{id_category}</p>
    <p>methode delete</p> 
</div>
{% endblock %}
